<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfApplication6.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfApplication6.Properties.Settings>
            <setting name="databaseID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>rlw</value>
            </setting>
            <setting name="databasePwd" serializeAs="String">
                <value>1231</value>
            </setting>
            <setting name="databaseNormalData" serializeAs="String">
                <value />
            </setting>
            <setting name="textFilePathSetting" serializeAs="String">
                <value>C:\Users\Public\Documents\SF LWM\test.txt</value>
            </setting>
            <setting name="projectName" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="jobDuration" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="samplesPerChannelNumeric" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="rateNumeric" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="samplingSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="physicalChannel" serializeAs="String">
                <value>Dev1/ai0</value>
            </setting>
            <setting name="maxVoltage" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="minVoltage" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="physicalChannelCheckedIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="jobNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sensor1" serializeAs="String">
                <value>플라즈마</value>
            </setting>
            <setting name="sensor2" serializeAs="String">
                <value>온도</value>
            </setting>
            <setting name="sensor3" serializeAs="String">
                <value>Reflextion(Reserved)</value>
            </setting>
            <setting name="sensor4" serializeAs="String">
                <value>4번 센서(Reserved)</value>
            </setting>
            <setting name="projectNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtFilePath" serializeAs="String">
                <value>C:\Users\Public\Documents\SF LWM\</value>
            </setting>
            <setting name="reference_id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="measured_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="replayFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="replayTimeUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="partName" serializeAs="String">
                <value />
            </setting>
        </WpfApplication6.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>